* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-position: center;
    background-size: cover;
}

main {
    width: 50vmin;
    height: 80vmin;
    /* border: 2px solid black; */
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: white;
    overflow: hidden;
    position: relative;
}

section {
    width: 100%;
    height: 100%;
}

#section-1 > header {
    width: 100%;
    height: 25%;
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    padding: 2vmin;
}

h2 {
    text-align: center;
}

input {
    margin: 1.5vh auto 2vh auto;
    display: block;
    width: 65%;
    height: 30px;
    border: 1px solid white;
    text-align: center;
    font-size: 2vmin;
}

input::selection {
    background-color: #f3ce13;
}

.button {
    background-color: #f3ce13;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 1vmin 5vmin;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 2.2vmin;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: auto;
}

.button:hover {
    background-color: black;
    color:white;
    border:1px solid white;
    
}

#container-1, #container-2, #container-3 {
    margin: auto;
    width: 100%;
    height: 75%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
}

.cover-img {
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#img-background {
    width: 70%;
    height: 75%;
    overflow: hidden;
    background-image: url(./assets/imdb.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/*Second Card*/
/*Slides*/
.mySlides, .card-container1 {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.gallery-container {
    width: 70%;
    height: 75%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.gallery-container>img {
    height: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: 0.3s;
}

.gallery-container>img:hover {
    opacity:  0.7;
}

/*Modal*/
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Add Animation */
.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

/*Side buttons*/

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -2vmin;
    padding: 1.5vmin;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    display: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgb(255, 230, 0);
}

.footer {
    width: 100%;
    height: 25%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid black;
    background-color: black;
    color: white;
}

.footer> h3, .footer >p {
    text-align: center;
}

.footer > h3 {
    margin-top: 1vmin
}

.footer p {
    margin-bottom: 1vmin;
}


.card-container1 {
    background-color: white;
}

.card-container2 {
    width: 100%;
    height: 75%;
    position: relative;
}
.details-title {
    position: absolute;
    text-align: center;
    margin-top: 2vmin;
    width: 100%;
}

.details-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.img-thumbnail {
    width: 47%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.img-thumbnail > img {
    
    height: 100%;
    
}

.card-text {
    width: 47%;
    height: 70%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 1vmin;
    
}

.card-text h3, .card-text p, .card-text>p> a {
    text-align: center;
    font-size: 2vmin;
    font-family: 'Roboto', sans-serif;
}

.card-text h3 {
    margin-top: 2vmin;
}

.card-text p:nth-of-type(n+2) {
    margin-top: 3vmin;
}

.card-text>p > a {
    text-decoration: none;
    color: black;
    margin-top: 2vmin;
}

.card-text>p>a:hover {
    color: rgb(255, 230, 0);
}

.card-container1>.footer>button {
    margin-top: 4vmin;
}


.hide {
    display: none;
}

/*Artist's Profile*/

#section-2 {
    background-image: url(./assets/imdb.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.black-bg {
    width: 100%;
    height: 15%;
    top: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #f5de50;
    position: absolute;
    z-index: 1;
}

.profile-container {
    width: 75%;
    height: 90%;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    position: absolute;
    z-index: 5;
}

.profile-img-container {
    width: 100%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.profile-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-image: url(./Assets/blur-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: white; */
}

.profile-img {
    height: 100%;
    position: absolute;
    z-index: 5;
}

.profile-img>img {
    height: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.profile-text-container {
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-border {
    width: 90%;
    height: 90%;
    border: 5px solid rgb(77, 76, 76);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 5px;
}

.profile-text-container h3, .profile-text-container p {
    margin-bottom: 2vmin;
    font-size: 2vmin;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.profile-text-container h3 {
    margin-top: 2vmin;
}

.profile-text-container p {
    font-size: 2vmin;
}

.text-border > button {
    margin-top: 4vmin;
}
